.zoehis_picker{
  position: relative; display: inline-block;
  .zoehis_panel_onedate{right: 0;}
}

//height:245px;
.zoehis_date_panel{
  position: absolute; margin: 15px; color: $FONTMAIN; box-shadow: $SHADOWVALUE; background: $MAINBG; line-height: 20px;
  margin: 5px 0; width: 278px;  overflow: hidden; top: 0; z-index: 100;
  &.zoehis_panel_onedate{right: 0;}
  &.zoehis_left_align{margin-left: -395px;}
  &.zoehis_panel_left{padding-right: 17px; }
  &.zoehis_panel_left_isalign{margin-right: 295px;}
  .zoehis_panel_time{
     height: 42px; position: relative;
    .zoehis_panel_timeinput{
      position: absolute; top: 50%; margin-top: -12px;
      &.zoehis_timeinput_left{left:18px;}
      &.zoehis_timeinput_right{right:18px;}
    }
    .zoehis_panel_time_line{border-bottom: 1px solid $MAINBORDERLINES; width: 330px; margin-left: -18px; bottom: 0;
     position: absolute;}
  }
  .zoehis_panel_head{
    margin: 12px; text-align: center;
    .zoehis_panel_prevbtn{float: left;}
    .zoehis_panel_nextbtn{float: right;}
    .zoehis_panel_prevbtn,.zoehis_panel_nextbtn{
      &:hover{color: $FONTFOCUS;}
    }
    button{font-size: $FONTINSTRUCTIONS; color: $FONTMAIN; border: 0; background: transparent; cursor: pointer; outline: none; margin-top: 3px;}
    .zoehis_panel_label{font-size: $FONTMAINS; padding: 0 5px; line-height: 22px; text-align: center; cursor: pointer;}
    .zoehis_panel_content{
      margin: 15px; position: relative;
    }
  }
}

.zoehis_date_line{
  border-bottom: 1px solid $MAINBORDERLINES; padding-top: 13px; width: 100%;
  &.zoehis_panel_range_line{width: 330px; margin-left: -20px;}
}
.zoehis_sure_button{float: right; margin-right: 20px; margin: 3px 20px;}
.zoehis_clear_button{float: right; line-height: 30px; margin: 3px 0 3px 20px; color: $MAINCOLOR; cursor: pointer;}
.zoehis_panel_left_button{height: 36px; width: 100%;}

.zoehis_date_panel_range{
  margin-left: 293px; box-shadow: 3px 1px 6px #D9D9D9; padding-left: 17px;
}
.zoehis_date_panel_range_isalign{margin-left: 162px;}
.zoehis_date_table{
  font-size: $FONTINSTRUCTIONS; width: 100%; display: table; overflow: hidden; margin: 0 auto;
  .zoehis_table_tr{
    float: left; vertical-align: inherit; border-color: inherit;  box-sizing: border-box;
    th{padding: 5px; color: $FONTRPTITLE; font-weight: 400; width: 32px; height: 20px;}
  }
  .zoehis_table_td{
    width: 14.28%; line-height: 25px; box-sizing: border-box; text-align: center; cursor: pointer; float: left;
    color: $FONTMAIN;
    &.zoehis_current_month{
      &:hover{background: $FONTFOCUS; color: $FONTWHITE;}
      &.zoehis_is_range{background: $MAINHOVER; &:hover{color: $FONTMAIN;}}
      &.zoehis_is_selected{background: $FONTFOCUS; color: $FONTWHITE;}
      &.zoehis_td_bg{color: $FONTAUXILIARY;}
    }
  }
  .zoehis_td_bg{color: $FONTAUXILIARY;}
}
